/* Main Section Styling */
.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
  margin-left: 25%; /* Shift content to the right to avoid overlap with the sidebar */
}

/* .main .nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 400;
  padding: 20px;
  color: #585858;
  background-color: white;
} */

.main .nav img {
  width: 100px; /* Set the icon's width */
  height: 100px; /* Set the icon's height */
  object-fit: contain; /* Maintain aspect ratio */
  margin-right: 20px;
}

.main-container {
  max-width: 900px;
  margin: auto;
}

/* Adjust greeting section (move user up) */
.main .greet {
  margin: 10px 0px; /* Reduce margin top to move it upwards */
  font-size: 50px;
  color: #000000;
  font-weight: 500;
  padding: 20px 20px 0px; /* Reduced padding top */
}

.main .greet span {
  background: -webkit-linear-gradient(16deg, #0062a5, #8cc63e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Cards Section */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* Card Styling */
.card {
  height: 200px;
  padding: 15px;
  background-color: #f0f4f9;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: none;
}

.card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.card p {
  color: #000;
  font-size: 17px;
}

.card:hover {
  background: linear-gradient(135deg, #8cc63e, #0062a5);
}

/* Bottom Section */
.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.chat-history {
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.chat-entry {
  max-width: 80%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.user-entry {
  background-color: #d9e2f2;
  align-self: flex-end;
}

.chatbot-entry {
  background-color: #f1f1f1;
  align-self: flex-start;
}

.chat-entry p {
  margin: 0;
  word-wrap: break-word;
}

.loader {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.loader hr {
  border: none;
  border-top: 2px solid #d9e2f2;
  margin: 2px 0;
  width: 20px;
}
